---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import { t } from "../../i18n";
import { SITE } from "@consts";

export async function getStaticPaths() {
  const legal = await getCollection("legal");
  const locale = SITE.LOCALE ?? "en";
  return legal
    .filter((doc) => doc.id.startsWith(`${locale}/`))
    .map((doc) => ({
      params: { id: doc.id.replace(`${locale}/`, "") },
      props: { doc },
    }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
---

<BaseLayout title={doc.data.title}>
  <article class="max-w-5xl mx-auto px-4 py-4 lg:py-8 mt-16 lg:mt-20">
    <div>
      <h1 class="text-4xl lg:text-6xl mb-6 font-medium wrap-break-word">
        {doc.data.title}
      </h1>
      <span
        ><strong>{t.legal.effectiveDate}</strong> {doc.data.lastUpdated}</span
      >
    </div>

    <div class="max-w-full px-4 py-4 prose">
      <Content />
    </div>
  </article>
</BaseLayout>
