---
import { CONFIG } from "@consts";
import { t } from "@src/i18n";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const legal = await getCollection("legal");
  const locale = CONFIG.locale ?? "en";
  return legal
    .filter((doc) => doc.id.startsWith(`${locale}/`))
    .map((doc) => ({
      params: { id: doc.id.replace(`${locale}/`, "") },
      props: { doc },
    }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
---

<BaseLayout title={doc.data.title}>
  <article class="mx-auto mt-16 max-w-5xl px-4 py-4 lg:mt-20 lg:py-8">
    <div>
      <h1 class="mb-6 text-4xl font-medium wrap-break-word lg:text-6xl">
        {doc.data.title}
      </h1>
      <span
        ><strong>{t.legal.effectiveDate}</strong> {doc.data.lastUpdated}</span
      >
    </div>

    <div class="prose max-w-full px-4 py-4">
      <Content />
    </div>
  </article>
</BaseLayout>
