---
import SectionHeader from "@components/ui/SectionHeader.astro";
import SectionWrapper from "@components/ui/SectionWrapper.astro";
import { Image } from "astro:assets";

import { t } from "../i18n";
import twoWomenSittingImage from "/src/assets/images/two-women-sitting.png";
---

<SectionWrapper id="about">
  <SectionHeader tag={t.about.tag} title={t.about.title} />
  <div class="grid grid-cols-1 items-center gap-8 md:grid-cols-2 lg:gap-16">
    <div
      class="-order-1 aspect-4/3 h-full min-h-88 w-full overflow-hidden md:order-0 md:min-h-100 lg:min-h-112"
    >
      <Image
        src={twoWomenSittingImage}
        alt={t.about.imageAlt}
        class="h-full w-full object-cover"
      />
    </div>
    <div class="lg:max-w-150">
      {
        t.about.items.map((content) => (
          <>
            <h3 class="mb-4 text-xl font-semibold">{content.title}</h3>
            <p class="mb-8 leading-relaxed opacity-80 last:mb-0">
              {content.text}
            </p>
          </>
        ))
      }
    </div>
  </div>
</SectionWrapper>
