---
import { SITE } from "@consts";
import { t } from "../i18n";
---

<section id="contact" class="contact">
  <div class="section-container contact-container">
    <div class="contact-top">
      <div class="contact-top-left">
        <span class="section-tag">{t.contact.tag}</span>
        <h2 class="section-title">
          {t.contact.title}
        </h2>
      </div>

      <address class="contact-top-right contact-info">
        <div>
          <div class="contact-icon">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
            >
              <path
                d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"
              ></path>
            </svg>
            <div class="contact-icon-s">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.445 17.827c-3.684 1.684-9.401-9.43-5.8-11.308l1.053-.519 1.746 3.409-1.042.513c-1.095.587 1.185 5.04 2.305 4.497l1.032-.505 1.76 3.397-1.054.516z"
                ></path>
              </svg>
            </div>
          </div>
          <h3 class="contact-subtitle">{t.contact.hello}</h3>
          <div class="contact-details">
            <a href=`mailto:${SITE.EMAIL}` class="contact-detail contact-email"
              >{SITE.EMAIL}</a
            >
            <a href=`tel:${SITE.TELEPHONE}` class="contact-detail contact-phone"
              >{SITE.TELEPHONE}</a
            >
          </div>
        </div>
        <div>
          <div class="contact-icon">
            <svg
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
            >
              <path
                d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"
              ></path>
            </svg>
          </div>
          <h3 class="contact-subtitle">{t.contact.location}</h3>
          <a
            class="contact-detail"
            href=`https://maps.google.com/?q=${SITE.ADDRESS}`
            class="contact-address">{SITE.ADDRESS}</a
          >
        </div>
      </address>
    </div>
    <div class="contact-bottom">
      <form class="contact-form" action="">
        <div class="contact-form-fields">
          <div class="form-group">
            <label class="form-label" for="name">{t.contact.form.name}</label>
            <input
              class="form-input"
              id="name"
              type="text"
              placeholder={t.contact.form.namePlaceholder}
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="email">{t.contact.form.email}</label>
            <input
              class="form-input"
              id="email"
              type="email"
              placeholder={t.contact.form.emailPlaceholder}
              required
            />
          </div>
          <div class="form-group message-group">
            <label class="form-label" for="message"
              >{t.contact.form.project}</label
            >
            <textarea
              class="form-input form-textarea"
              id="message"
              placeholder={t.contact.form.projectPlaceholder}
              rows="4"
              required></textarea>
          </div>
        </div>
        <div class="form-submit">
          <button type="submit" class="btn btn--primary"
            >{t.contact.form.submit}</button
          >
          <div class="contact-terms">
            <span class="contact-terms-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                ><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4"
                ></path><path d="M12 8h.01"></path></svg
              >
            </span>
            All the fields are required. By sending the form you agree to the
            <a class="text-link" href="legal/terms"
              >{t.footer.links.termsConditions}</a
            > and
            <a class="text-link" href="legal/privacy"
              >{t.footer.links.privacyPolicy}</a
            >.
          </div>
        </div>
        <div id="form-feedback" class="form-feedback" hidden>
          <p>{t.contact.form.successText}</p>
        </div>
      </form>

      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52871.78694097431!2d-118.44073380549868!3d34.0826707144581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bc04d6d147ab%3A0xd6c7c379fd081ed1!2sBeverly%20Hills%2C%20CA%2C%20USA!5e0!3m2!1sen!2spl!4v1743960669502!5m2!1sen!2spl"
          title="Map showing location of Beverly Hills, California, USA"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .contact {
    display: grid;
  }

  .section-container.contact-container {
    display: grid;
    grid-template-rows: auto auto;
  }

  .contact-top,
  .contact-bottom {
    gap: var(--px-32);
  }

  .contact-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-top-left,
  .contact-form {
    margin-right: var(--px-48);
  }

  .contact-form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--px-24);
    margin-bottom: var(--px-40);
  }

  .form-group {
    display: grid;
    gap: var(--px-8);
  }

  .form-label {
    font-size: var(--px-18);
    font-weight: 500;
  }

  .form-input {
    color: var(--color-text-primary);
    padding: var(--px-16) var(--px-20);
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.183);
    transition: all var(--transition-short);
    font-size: var(--text-sm);
  }

  .form-input:focus {
    color: var(--color-primary);
    border-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    outline: none;
  }

  .form-group.message-group {
    grid-column: 1 / -1;
  }

  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--px-24);
    font-style: normal;
    margin-bottom: var(--px-56);
  }

  .contact-info > div {
    position: relative;
    padding-left: var(--px-24);
  }

  .contact-info > div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .form-submit {
    display: flex;
    gap: var(--px-16);
    align-items: center;
    justify-content: space-between;
  }

  .form-feedback {
    margin-top: var(--px-24);
    color: #006600;
    font-weight: 500;
    animation: var(--transition-long);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .contact-terms {
    font-size: var(--text-xs);
    max-width: 18.75rem;
  }

  .contact-terms-icon svg {
    display: inline;
    width: var(--text-base);
    margin-bottom: var(--px-2);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .contact-subtitle {
    font-size: var(--text-xl);
    margin-bottom: var(--px-12);
    font-weight: 500;
  }

  .contact-detail {
    display: block;
    opacity: 0.8;
    font-size: var(--text-sm);
    transition: opacity var(--transition-short);
  }

  .contact-detail:active {
    opacity: 1;
  }

  .contact-email {
    margin-bottom: var(--px-6);
  }

  .contact-icon {
    position: relative;
    display: inline-grid;
    margin-bottom: 1.375rem;
  }

  .contact-icon svg:first-of-type {
    width: var(--px-48);
  }

  .contact-icon-s {
    position: absolute;
    display: grid;
    top: -15%;
    right: -55%;
  }

  .contact-map {
    width: 100%;
    height: 100%;
  }

  .contact-map iframe {
    width: 100%;
    height: 100%;
    min-height: 28.125rem;
  }

  @media (hover: hover) and (pointer: fine) {
    .contact-detail:hover {
      opacity: 1;
    }

    .form-input:hover {
      border-color: rgba(0, 0, 0, 0.38);
    }
  }

  @media (max-width: 72.5rem) {
    .contact-form {
      margin-right: 0;
    }
  }

  @media (max-width: 66.5rem) {
    .contact-top {
      grid-template-columns: 1fr;
    }

    .contact-form-fields {
      grid-template-columns: 1fr;
    }

    .form-submit {
      flex-direction: column;
      align-items: start;
    }
  }

  @media (max-width: 48rem) {
    .contact-bottom {
      grid-template-columns: 1fr;
    }

    .form-submit {
      grid-template-columns: 1fr;
    }

    .contact-map iframe {
      min-height: 18.75rem;
    }
  }

  @media (max-width: 35rem) {
    .contact-info {
      grid-template-columns: 1fr;
      gap: var(--px-32);
    }
  }
</style>

<script>
  document
    .querySelector(".contact-form")
    ?.addEventListener("submit", async (e) => {
      e.preventDefault();

      const form = e.target as HTMLFormElement;
      const feedback = document.getElementById("form-feedback");
      const submitButton = form.querySelector(
        'button[type="submit"]',
      ) as HTMLButtonElement;

      if (!feedback || !submitButton) return;

      submitButton.disabled = true;
      const originalText = submitButton.textContent;
      submitButton.textContent = "SENDING...";

      await new Promise((resolve) => setTimeout(resolve, 1500));

      feedback.hidden = false;

      form.reset();
      submitButton.textContent = originalText;
      submitButton.disabled = false;

      setTimeout(() => {
        feedback.hidden = true;
      }, 4000);
    });
</script>
