---
import SectionHeader from "@src/components/ui/SectionHeader.astro";
import SectionWrapper from "@src/components/ui/SectionWrapper.astro";
import { t } from "@src/i18n";
import { Icon } from "astro-icon/components";

const faqItems = t.faq.items;
---

<SectionWrapper
  id="faq"
  class="grid"
  containerClass="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-8 lg:gap-16 items-start"
>
  <div class="md:sticky md:top-8 md:max-w-4/5">
    <SectionHeader tag={t.faq.tag} title={t.faq.title} />
  </div>

  <div id="faq-accordion" x-data="{ active: null }" class="flex flex-col">
    {
      faqItems.map((item, index) => (
        <div class="border-b border-black">
          <button
            type="button"
            x-on:click={`active = active === ${index} ? null : ${index}`}
            class="flex w-full cursor-pointer items-center justify-between gap-4 border-none bg-transparent py-5 text-left transition-all duration-300 hover:opacity-65"
          >
            <span
              x-bind:class={`active === ${index} && 'font-medium'`}
              class="text-lg transition-all duration-300"
            >
              {item.question}
            </span>
            <Icon
              name="material-symbols-light:add"
              x-bind:class={`active === ${index} && 'rotate-45'`}
              class="h-5 w-5 shrink-0 transition-transform duration-300"
            />
          </button>
          <div x-show={`active === ${index}`} x-collapse>
            <div class="pb-3">
              <p>{item.answer}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</SectionWrapper>
