---
import { SITE, SOCIALS } from "@consts";
import socialIcons from "@assets/socialIcons";
import { t } from "../i18n";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-neutral-100 pt-16 sm:pt-20 lg:pt-28 pb-7 px-7 lg:px-16 text-sm text-neutral-600"
>
  <div
    class="section-container mb-12 sm:mb-20 lg:mb-28 flex flex-wrap gap-12 lg:flex-nowrap lg:gap-0 justify-between"
  >
    <div>
      <a
        href="/"
        class="inline-block mb-7 text-xl font-bold text-black transition-all duration-200 ease-out hover:text-black active:text-black"
        aria-label={SITE.TITLE}
      >
        {t.header.logo}
      </a>
      <p class="mb-8">{t.hero.subtitle}</p>

      <address
        class="inline-flex flex-col text-sm gap-2 text-nowrap not-italic"
      >
        <p>
          <span>{t.footer.phoneLabel}</span>
          <a
            href=`tel:${SITE.TELEPHONE}`
            class="transition-all duration-200 ease-out hover:text-black active:text-black"
            >{SITE.TELEPHONE}</a
          >
        </p>
        <p>
          <span>{t.footer.emailLabel}</span>
          <a
            href=`mailto:${SITE.EMAIL}`
            class="transition-all duration-200 ease-out hover:text-black active:text-black"
            >{SITE.EMAIL}</a
          >
        </p>
      </address>
    </div>

    <nav
      class="grid grid-cols-1 w-full gap-7 justify-between sm:grid-cols-3 sm:w-auto sm:gap-24 lg:w-full lg:ml-[16%]"
      aria-label="Footer navigation"
    >
      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.company}
        </h2>
        <ul class="inline-flex flex-col text-sm gap-2 text-nowrap">
          <li>
            <a
              href="#hero"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.home}</a
            >
          </li>
          <li>
            <a
              href="#about"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.about}</a
            >
          </li>
          <li>
            <a
              href="#how-it-works"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.howItWorks}</a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.portfolio}</a
            >
          </li>
          <li>
            <a
              href="#contact"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.contact}</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.socialMedia}
        </h2>
        <ul class="inline-flex flex-col text-sm gap-2 text-nowrap">
          {
            SOCIALS.map((social) => (
              <>
                <li>
                  <a
                    href={social.HREF}
                    aria-label={social.LABEL}
                    class="flex items-center gap-1.5 [&>svg]:h-4.5 transition-all duration-200 ease-out hover:text-black active:text-black"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Fragment set:html={socialIcons[social.ICON]} />
                    {social.NAME}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </div>

      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.legal}
        </h2>
        <ul class="inline-flex flex-col text-sm gap-2 text-nowrap">
          <li>
            <a
              href="legal/privacy"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.privacyPolicy}</a
            >
          </li>
          <li>
            <a
              href="legal/terms"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.termsConditions}</a
            >
          </li>
          <li>
            <a
              href="/sitemap-index.xml"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.sitemap}</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div
    class="font-medium flex flex-wrap gap-x-12 gap-y-1.5 sm:gap-12 lg:flex-nowrap lg:gap-0 justify-between"
  >
    <div>
      <p>&copy; {SITE.COMPANY_NAME} {currentYear}.</p>
    </div>
    <div>
      <p>{t.footer.location}</p>
    </div>
  </div>
</footer>
