---
import { CONFIG, SOCIALS } from "@consts";
import ContainerDiv from "@src/components/ui/ContainerDiv.astro";
import { t } from "@src/i18n";
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-zinc-100 px-7 pt-16 pb-7 text-sm text-zinc-600 sm:pt-20 lg:px-16 lg:pt-28"
>
  <ContainerDiv
    class="mb-12 flex flex-wrap justify-between gap-12 sm:mb-20 lg:mb-28 lg:flex-nowrap lg:gap-0"
  >
    <div>
      <a
        href="/"
        class="mb-7 inline-block text-xl font-bold text-black transition-all duration-200 ease-out hover:text-black active:text-black"
        aria-label={CONFIG.title}
      >
        {t.header.logo}
      </a>
      <p class="mb-8 leading-relaxed opacity-80">{t.hero.subtitle}</p>

      <address
        class="inline-flex flex-col gap-2 text-sm text-nowrap not-italic"
      >
        <p>
          <span>{t.footer.phoneLabel}</span>
          <a
            href={`tel:${CONFIG.telephone}`}
            class="transition-all duration-200 ease-out hover:text-black active:text-black"
            >{CONFIG.telephone}</a
          >
        </p>
        <p>
          <span>{t.footer.emailLabel}</span>
          <a
            href={`mailto:${CONFIG.email}`}
            class="transition-all duration-200 ease-out hover:text-black active:text-black"
            >{CONFIG.email}</a
          >
        </p>
      </address>
    </div>

    <nav
      class="grid w-full grid-cols-1 justify-between gap-7 sm:w-auto sm:grid-cols-3 sm:gap-24 lg:ml-[16%] lg:w-full"
      aria-label="Footer navigation"
    >
      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.company}
        </h2>
        <ul class="inline-flex flex-col gap-2 text-sm text-nowrap">
          <li>
            <a
              href="/#hero"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.home}</a
            >
          </li>
          <li>
            <a
              href="/#about"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.about}</a
            >
          </li>
          <li>
            <a
              href="/#how-it-works"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.howItWorks}</a
            >
          </li>
          <li>
            <a
              href="/#portfolio"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.portfolio}</a
            >
          </li>
          <li>
            <a
              href="/#contact"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.header.nav.contact}</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.socialMedia}
        </h2>
        <ul class="inline-flex flex-col gap-2 text-sm text-nowrap">
          {
            SOCIALS.map((social) => (
              <>
                <li>
                  <a
                    href={social.href}
                    aria-label={social.label}
                    class="flex items-center gap-1.5 transition-all duration-200 ease-out hover:text-black active:text-black [&>svg]:h-4.5"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name={social.icon} class="h-4 w-4" />
                    {social.name}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </div>

      <div>
        <h2
          class="mb-4 text-lg font-medium tracking-tight text-nowrap text-black"
        >
          {t.footer.legal}
        </h2>
        <ul class="inline-flex flex-col gap-2 text-sm text-nowrap">
          <li>
            <a
              href="/legal/privacy"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.privacyPolicy}</a
            >
          </li>
          <li>
            <a
              href="/legal/terms"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.termsConditions}</a
            >
          </li>
          <li>
            <a
              href="/sitemap-index.xml"
              class="transition-all duration-200 ease-out hover:text-black active:text-black"
              >{t.footer.links.sitemap}</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </ContainerDiv>

  <div
    class="flex flex-wrap justify-between gap-x-12 gap-y-1.5 font-medium sm:gap-12 lg:flex-nowrap lg:gap-0"
  >
    <div>
      <p>&copy; {CONFIG.company_name} {currentYear}.</p>
    </div>
    <div>
      <p>{t.footer.location}</p>
    </div>
  </div>
</footer>
