---
import { Image } from "astro:assets";
import consultationImage from "/src/assets/images/consultation.jpg";
import designImage from "/src/assets/images/design.jpg";
import transformImage from "/src/assets/images/transform.jpg";
import { t } from "../i18n";

const processSteps = [
  {
    id: 1,
    title: t.process.steps[0].title,
    description: t.process.steps[0].description,
    image: {
      src: consultationImage,
      alt: "People talking about an interior design project",
    },
  },
  {
    id: 2,
    title: t.process.steps[1].title,
    description: t.process.steps[1].description,
    image: {
      src: designImage,
      alt: "Detailed layouts of entry and bath",
    },
  },
  {
    id: 3,
    title: t.process.steps[2].title,
    description: t.process.steps[2].description,
    image: {
      src: transformImage,
      alt: "Expert measuring distance",
    },
  },
];
---

<section id="how-it-works" class="process">
  <div class="section-container">
    <div class="process-content">
      <span class="section-tag">{t.process.tag}</span>
      <h2 class="section-title">{t.process.title}</h2>
      <div class="process-steps">
        {
          processSteps.map((step) => (
            <div class="process-step">
              <div class="process-step-content">
                <h3 class="section-subtitle process-step-title">
                  {step.title}
                </h3>
                <p class="process-step-description">{step.description}</p>
              </div>
              <div class="process-step-image-wrapper">
                <Image
                  src={step.image.src}
                  alt={step.image.alt}
                  width={1272}
                  height={660}
                  class="media"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .process-steps {
    display: flex;
    flex-direction: column;
    gap: var(--px-64);
  }

  .process-step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--px-64);
    align-items: center;
  }

  .process-step:nth-child(even) {
    direction: rtl;
  }

  .process-step:nth-child(even) .process-step-content {
    direction: ltr;
  }

  .process-step-title {
    font-size: 1.313rem;
  }

  .process-step-description {
    max-width: 31.25rem;
  }

  .process-step-image-wrapper {
    width: 100%;
    height: 100%;
    max-height: 20.625rem;
    overflow: hidden;
  }

  @media screen and (max-width: 64rem) {
    .process-step {
      gap: var(--px-32);
    }

    .process-images {
      max-height: 18rem;
    }
  }

  @media screen and (max-width: 48rem) {
    .process-steps {
      gap: var(--px-36);
    }

    .process-step {
      grid-template-columns: 1fr;
      gap: var(--px-32);
    }

    .process-step:nth-child(even) {
      direction: ltr;
    }

    .process-step-content {
      order: -1;
    }

    .process-step-description {
      max-width: 100%;
    }

    .process-images {
      max-height: 15rem;
    }
  }
</style>
