---
import SectionHeader from "@src/components/ui/SectionHeader.astro";
import SectionWrapper from "@src/components/ui/SectionWrapper.astro";
import { t } from "@src/i18n";
import { Image } from "astro:assets";

import consultationImage from "/src/assets/images/consultation.jpg";
import designImage from "/src/assets/images/design.jpg";
import transformImage from "/src/assets/images/transform.jpg";

const processSteps = [
  {
    id: 1,
    title: t.process.steps[0].title,
    description: t.process.steps[0].description,
    image: {
      src: consultationImage,
      alt: t.process.steps[0].imageAlt,
    },
  },
  {
    id: 2,
    title: t.process.steps[1].title,
    description: t.process.steps[1].description,
    image: {
      src: designImage,
      alt: t.process.steps[1].imageAlt,
    },
  },
  {
    id: 3,
    title: t.process.steps[2].title,
    description: t.process.steps[2].description,
    image: {
      src: transformImage,
      alt: t.process.steps[2].imageAlt,
    },
  },
];
---

<SectionWrapper id="how-it-works">
  <SectionHeader tag={t.process.tag} title={t.process.title} />
  <div class="flex flex-col gap-16 md:max-lg:gap-9">
    {
      processSteps.map((step) => (
        <div class="flex flex-col items-center gap-8 md:flex-row even:md:flex-row-reverse lg:gap-16">
          <div class="md:flex-1">
            <h3 class="mb-4 text-xl font-semibold">{step.title}</h3>
            <p class="max-w-125 leading-relaxed opacity-80 md:max-lg:max-w-full">
              {step.description}
            </p>
          </div>
          <div class="h-full max-h-82.5 w-full overflow-hidden md:flex-1">
            <Image
              src={step.image.src}
              alt={step.image.alt}
              width={1272}
              height={660}
              class="h-full w-full object-cover"
            />
          </div>
        </div>
      ))
    }
  </div>
</SectionWrapper>
