---
import "@src/styles/global.css";

import { CONFIG } from "@consts";
import Footer from "@src/components/Footer.astro";
import GoogleTagManager from "@src/components/GoogleTagManager.astro";
import Header from "@src/components/Header.astro";
import SEO from "@src/components/SEO.astro";
import { t } from "@src/i18n";
import { ClientRouter } from "astro:transitions";

const { title, description, ogImage, noindex } = Astro.props;
---

<!doctype html>
<html lang={`${CONFIG.locale ?? "en"}`} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <ClientRouter />

    <SEO
      title={title}
      description={description}
      ogImage={ogImage}
      noindex={noindex}
    />

    <GoogleTagManager position="head" />
  </head>
  <body class="font-sans text-base text-black">
    <GoogleTagManager position="body" />
    <a
      href="#main"
      class="absolute top-2.5 left-2 translate-y-[-200%] rounded-md bg-black px-4 py-3 text-white opacity-0 transition-opacity duration-200 ease-in-out focus-visible:z-100 focus-visible:translate-y-0 focus-visible:opacity-100 focus-visible:outline"
      >{t.skipToContent}</a
    >

    <Header />
    <main id="main" tabindex="-1">
      <slot />
    </main>
    <Footer />

    <script>
      import "@src/utils/app";
    </script>
  </body>
</html>
