---
import BaseLayout from "@layouts/BaseLayout.astro";
import ButtonPrimary from "@components/ui/ButtonPrimary.astro";

interface Props {
  title: string;
  description: string;
  errorCode: string;
  errorMessage: string;
  errorDescription: string;
}

const { title, description, errorCode, errorMessage, errorDescription } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <section
    id="error"
    class="min-h-screen pt-8 pb-5 md:pt-12 md:pb-8 lg:pt-28 lg:pb-14 flex items-center justify-center"
  >
    <div class="w-full flex flex-col items-center text-center max-w-xl">
      <h1 class="text-6xl lg:text-7xl font-bold mb-6">{errorCode}</h1>
      <p class="leading-relaxed text-2xl font-medium mb-4">
        {errorMessage}
      </p>
      <p class="leading-relaxed opacity-80 text-lg mb-8">{errorDescription}</p>
      <ButtonPrimary href="/" class="inline-block">GO TO HOMEPAGE</ButtonPrimary
      >
    </div>
  </section>
</BaseLayout>
