---
import BaseLayout from "@layouts/BaseLayout.astro";
import ButtonPrimary from "@components/ui/ButtonPrimary.astro";
import { t } from "../i18n";

interface Props {
  errorCode: "404" | "500" | "503";
}

const { errorCode } = Astro.props;
const error = t.errors[errorCode];
---

<BaseLayout title={error.title} description={error.description}>
  <section
    id="error"
    class="flex min-h-screen items-center justify-center pt-8 pb-5 md:pt-12 md:pb-8 lg:pt-28 lg:pb-14"
  >
    <div class="flex w-full max-w-xl flex-col items-center text-center">
      <h1 class="mb-6 text-6xl font-bold lg:text-7xl">{errorCode}</h1>
      <p class="mb-4 text-2xl leading-relaxed font-medium">
        {error.message}
      </p>
      <p class="mb-8 text-lg leading-relaxed opacity-80">{error.text}</p>
      <ButtonPrimary href="/" class="inline-block"
        >{t.errors.backHome}</ButtonPrimary
      >
    </div>
  </section>
</BaseLayout>
